
body {
  font-family: "Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
  padding-top: 56px;
}


/* ===================================
    Inner - Section: page headline
==================================== */
#inner-headline{
  background:#f3f3f3;
  position:relative;
  margin:0;
  padding:0;
  color:#fefefe;
}

#inner-headline .page-header {
  border-bottom:none;
}

#inner-headline .inner-heading h2 {
  color:#fff;
  margin:20px 0 0 0;
}

/* --- breadcrumbs --- */
#inner-headline ol.breadcrumb {
  margin: 30px 0 30px 0;
  float: left;
  background-color: #5B9BD5;
  font-family: "Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
  /*width: 25%;*/
}

#inner-headline ol.breadcrumb li {
  margin: 0 8px 0 8px;
  font-size:14px;
  color:#fff;
  font-weight: 600;
}

#inner-headline ol.breadcrumb li i{
  color:#fff;
}

#inner-headline ol.breadcrumb li a {
  color:#fff;
}

ol.breadcrumb li a:hover {
  text-decoration:none;
}


.thumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100%; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* ------------------------------ */
/* ------ Navbar Styling -------- */
/* ------------------------------ */
.navbar-brand{
  height: 32px !important;
}

.nav-link {
  font-size:18px;
  /*font-weight: bold;*/
  margin-right:18px;
  color:#e5e5e5 !important;
}

.nav-link:hover {
  color:#ffffff !important;
}

.nav-item.active {
  font-weight: bold;
}


/* ------------------------------ */
/* ------ Slide Styling  -------- */
/* ------------------------------ */
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  width:260px;
  z-index:10;
  color:#fff;
  text-align:left;
  top:50%;
  left:20%;
  bottom:auto;
  -webkit-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  transform:translate(0, -50%);
}

.carousel-caption p{
  font-size:18px;
  padding:5px 0px 10px 0px;

}

.portfolio-item {
  margin-bottom: 30px;
}

.carousel-caption .btn-action {
  background: #5B9BD5;
  border-color: #5B9BD5;
  color: #FFFFFF;
  width: 50%;
}

.carousel-caption .btn-action:hover {
  background: transparent;
  border-color: #5B9BD5;
  color: #5B9BD5;
}


/* ------------------------------ */
/* ---- What&Why Styling  ------- */
/* ------------------------------ */
.pitch {
  padding: 80px 0 80px 0;
  background: #FFFFFF;
}

.pitch-intro {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 80px 0;
}

.pitch-intro h1 {
  font-size: 34px;
  /*font-weight: bold;*/
  line-height: 1.2;
  letter-spacing: -1px;
  color: #454545;
  margin: 0 0 40px 0;
}

.pitch-intro p {
  font-size: 18px;
  line-height: 1.2;
  color: #A1A1A1;
  letter-spacing: 0;
}

.pitch-icon {
  margin: 5 0 10px 0;
  background: #5B9BD5;
  width: 72px;
  height: 72px;
  display: inline-block;
  border-radius: 50%;
}

.pitch-icon i {
  /*font-size: 34px;*/
  color: #FFFFFF;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
}

.pitch-content {
  padding: 10px 0 10px 0;
}

.pitch-content h3 {
  font-size: 21px;
  /*font-weight: 600;*/
  line-height: 1.2;
  letter-spacing: 0;
  /*color: #454545;*/
  margin: 0 0 10px 0;
}

.pitch-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #A1A1A1;
  letter-spacing: 0;
}


/* ------------------------------ */
/* ---- Features Styling  ------- */
/* ------------------------------ */
.features {
  background: #F9F9F9;
  padding: 80px 0 80px 0;
}

.features h2 {
  font-size: 34px;
  /*font-weight: bold;*/
  line-height: 1.2;
  letter-spacing: -1px;
  color: #454545;
  margin: 0 0 40px 0;
}

.features h3 {
  font-size: 21px;
  /*font-weight: 600;*/
  line-height: 1.2;
  letter-spacing: 0;
  /*color: #454545;*/
  margin: 0 0 10px 0;
}

.features p {
  font-size: 18px;
  /*font-weight: 400;*/
  color: #A1A1A1;
  line-height: 1.5;
  margin: 10px 0 80px 0;
}

.features img {
  margin: 0 auto;
  max-width:100%;
}

.features .features-left {
  padding: 10px 0 0 0;
}

.features .features-right {
  padding: 30px 0 0 0;
}

.features .feature-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}

.features .feature-icon i {
  font-size: 20px;
  color: #5B9BD5;
}

.features .feature-single {
  margin-left: 0;
  margin-bottom: 45px;
}

.features .feature-single h2 {
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  margin: 0 0 10px 0;
  letter-spacing: 1px;
}

.features .feature-single p {
  font-size: 16px;
  color: #A1A1A1;
  line-height: 1.5;
  margin: 10px 0 0 0;
}


/* ------------------------------ */
/* ---- Portfolio Styling  ------ */
/* ------------------------------ */
.portfolio {
  padding: 80px 0 80px 0;
  background: #FFFFFF;
}

.portfolio-intro {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}

.portfolio-intro h2 {
  font-size: 34px;
  /*font-weight: bold;*/
  line-height: 1.2;
  letter-spacing: -1px;
  color: #454545;
  margin: 0 0 40px 0;
}

.portfolio-intro p {
  font-size: 18px;
  line-height: 1.2;
  color: #A1A1A1;
  letter-spacing: 0;
}

.portfolio a:link{
  /*color: #A1A1A1;*/
  text-decoration: underline;
}


/* ------------------------------ */
/* ---- Tech Support Styling ---- */
/* ------------------------------ */
.tech-resource {
  height:360px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(20, 20, 20, 0.9)), url(../img/background/developer-resources.png) ;
  /*background: url(../img/background/111.png) ;*/
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.tech-resource-inner {
  padding-top: 100px;
  max-width: 460px;
  float: right;
}

.tech-resource .tech-resource-inner h2 {
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 0;
}

.tech-resource .tech-resource-inner p {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: 40px;
}

.tech-resource-inner .btn-action {
  background: #5B9BD5;
  border-color: #5B9BD5;
  color: #FFFFFF;
  width: 85%;
}

.tech-resource-inner .btn-action:hover {
  background: transparent;
  border-color: #5B9BD5;
  color: #5B9BD5;
}

/* ------------------------------ */
/* ---- About Us / Conact Us ---- */
/* ------------------------------ */
.contact-us .solidline {
  border-top:1px solid #EDEDED;
  margin:0 0 30px;
}

