
body {
  font-family: "Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
  padding-top: 56px;
}


/* ===================================
    Inner - Section: page headline
==================================== */
#inner-headline{
  background:#f3f3f3;
  position:relative;
  margin:0;
  padding:0;
  color:#fefefe;
}

#inner-headline .page-header {
  border-bottom:none;
}

#inner-headline .inner-heading h2 {
  color:#fff;
  margin:20px 0 0 0;
}

/* --- breadcrumbs --- */
#inner-headline ol.breadcrumb {
  margin: 30px 0 30px 0;
  float: left;
  background-color: #5B9BD5;
  font-family: "Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
  /*width: 25%;*/
  font-size:14px;
  color:#fff;
}

#inner-headline ol.breadcrumb li {
  margin: 0 8px 0 8px;
  font-size:14px;
  color:#fff;
  font-weight: 600;
}

#inner-headline ol.breadcrumb li i{
  color:#fff;
}

#inner-headline ol.breadcrumb li a {
  color:#fff;
}

ol.breadcrumb li a:hover {
  text-decoration:none;
}


.thumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100%; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.solidline {
  border-top:1px solid #EDEDED;
  margin:0 0 30px;
}
/* ------------------------------ */
/* ------ Navbar Styling -------- */
/* ------------------------------ */
.navbar-brand{
  height: 32px !important;
}

.nav-link {
  font-size:18px;
  /*font-weight: bold;*/
  margin-right:18px;
  color:#e5e5e5 !important;
}

.nav-link:hover {
  color:#ffffff !important;
}

.nav-item.active {
  font-weight: bold;
}


/* ------------------------------ */
/* ------ Slide Styling  -------- */
/* ------------------------------ */
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  width:260px;
  z-index:10;
  color:#fff;
  text-align:left;
  top:50%;
  left:20%;
  bottom:auto;
  -webkit-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  transform:translate(0, -50%);
}

.carousel-caption p{
  font-size:18px;
  padding:5px 0px 10px 0px;

}

.portfolio-item {
  margin-bottom: 30px;
}

.carousel-caption .btn-action {
  background: #5B9BD5;
  border-color: #5B9BD5;
  color: #FFFFFF;
  width: 50%;
}

.carousel-caption .btn-action:hover {
  background: transparent;
  border-color: #5B9BD5;
  color: #5B9BD5;
}


/* ------------------------------ */
/* ---- What&Why Styling  ------- */
/* ------------------------------ */
.pitch {
  padding: 80px 0 80px 0;
  background: #FFFFFF;
}

.pitch-intro {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 80px 0;
}

.pitch-intro h1 {
  font-size: 34px;
  /*font-weight: bold;*/
  line-height: 1.2;
  letter-spacing: -1px;
  color: #454545;
  margin: 0 0 40px 0;
}

.pitch-intro p {
  font-size: 18px;
  line-height: 1.2;
  color: #A1A1A1;
  letter-spacing: 0;
}

.pitch-icon {
  margin: 5 0 10px 0;
  background: #5B9BD5;
  width: 72px;
  height: 72px;
  display: inline-block;
  border-radius: 50%;
}

.pitch-icon i {
  /*font-size: 34px;*/
  color: #FFFFFF;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
}

.pitch-content {
  padding: 10px 0 10px 0;
}

.pitch-content h3 {
  font-size: 21px;
  /*font-weight: 600;*/
  line-height: 1.2;
  letter-spacing: 0;
  /*color: #454545;*/
  margin: 0 0 10px 0;
}

.pitch-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #A1A1A1;
  letter-spacing: 0;
}


/* ------------------------------ */
/* ---- Features Styling  ------- */
/* ------------------------------ */
.features {
  background: #F9F9F9;
  padding: 80px 0 80px 0;
}

.features h2 {
  font-size: 34px;
  /*font-weight: bold;*/
  line-height: 1.2;
  letter-spacing: -1px;
  color: #454545;
  margin: 0 0 40px 0;
}

.features h3 {
  font-size: 21px;
  /*font-weight: 600;*/
  line-height: 1.2;
  letter-spacing: 0;
  /*color: #454545;*/
  margin: 0 0 10px 0;
}

.features p {
  font-size: 18px;
  /*font-weight: 400;*/
  color: #A1A1A1;
  line-height: 1.5;
  margin: 10px 0 80px 0;
}

.features img {
  margin: 0 auto;
  max-width:100%;
}

.features .features-left {
  padding: 10px 0 0 0;
}

.features .features-right {
  padding: 30px 0 0 0;
}

.features .feature-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}

.features .feature-icon i {
  font-size: 20px;
  color: #5B9BD5;
}

.features .feature-single {
  margin-left: 0;
  margin-bottom: 45px;
}

.features .feature-single h2 {
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  margin: 0 0 10px 0;
  letter-spacing: 1px;
}

.features .feature-single p {
  font-size: 16px;
  color: #A1A1A1;
  line-height: 1.5;
  margin: 10px 0 0 0;
}


/* ------------------------------ */
/* ---- Portfolio Styling  ------ */
/* ------------------------------ */
.portfolio {
  padding: 80px 0 80px 0;
  background: #FFFFFF;
}

.portfolio-intro {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}

.portfolio-intro h2 {
  font-size: 34px;
  /*font-weight: bold;*/
  line-height: 1.2;
  letter-spacing: -1px;
  color: #454545;
  margin: 0 0 40px 0;
}

.portfolio-intro p {
  font-size: 18px;
  line-height: 1.2;
  color: #A1A1A1;
  letter-spacing: 0;
}

.portfolio a:link{
  /*color: #A1A1A1;*/
  text-decoration: underline;
}


/* ------------------------------ */
/* ---- Tech Support Styling ---- */
/* ------------------------------ */
.tech-resource {
  height:360px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(20, 20, 20, 0.9)), url(../img/background/developer-resources.png) ;
  /*background: url(../img/background/111.png) ;*/
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.tech-resource-inner {
  padding-top: 100px;
  max-width: 460px;
  float: right;
}

.tech-resource .tech-resource-inner h2 {
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 0;
}

.tech-resource .tech-resource-inner p {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: 40px;
}

.tech-resource-inner .btn-action {
  background: #5B9BD5;
  border-color: #5B9BD5;
  color: #FFFFFF;
  width: 85%;
}

.tech-resource-inner .btn-action:hover {
  background: transparent;
  border-color: #5B9BD5;
  color: #5B9BD5;
}

/* ------------------------------ */
/* ---------- Products  --------- */
/* ------------------------------ */
.products-banner {
  background: url("../img/company/banner1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 200px;
  color:#FFFFFF;
}

.products-banner h3{
  font-size: 34px;
  /*font-weight: bold;*/
  /*line-height: 1.2;*/
  /*letter-spacing: -1px;*/
  color: #FFFFFF;
}

.products-overview {
  padding: 80px 0 40px 0;
}

/*.products-overview .solidline {
  border-top:1px solid #EDEDED;
  margin:0 0 30px;
}
*/

.products-overview p {
  font-size: 18px;
  line-height: 1.2;
  color: #202020;
  letter-spacing: 0;
  text-indent: 2em;
}


.products-list {
  padding: 40px 0 80px 0;
  background: #FFFFFF;
}

.products-list .sheet-table{
  vertical-align: middle;
  text-align: center;
}

/* ------------------------------ */
/* ---- About Us / Conact Us ---- */
/* ------------------------------ */

.company-banner {
  background: url("../img/company/banner7.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 200px;
  color:#FFFFFF;
}

.company-banner h3{
  font-size: 34px;
  /*font-weight: bold;*/
  /*line-height: 1.2;*/
  /*letter-spacing: -1px;*/
  color: #FFFFFF;
}

.contact-banner {
  background: url("../img/company/banner3.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 200px;
  color:#FFFFFF;
}

.contact-banner h3{
  font-size: 34px;
  /*font-weight: bold;*/
  /*line-height: 1.2;*/
  /*letter-spacing: -1px;*/
  color: #000000;
}

/*.contact-us .solidline {
  border-top:1px solid #EDEDED;
  margin:0 0 30px;
}
*/
.company-intro {
  padding: 80px 0 80px 0;
}

/*.company-intro .solidline {
  border-top:1px solid #EDEDED;
  margin:0 0 30px;
}*/

.company-intro p {
  font-size: 18px;
  line-height: 1.2;
  color: #202020;
  letter-spacing: 0;
  text-indent: 2em;
}

.company-strength {
  background: #F9F9F9;
  padding: 80px 0 80px 0;
}

.company-strength .table-left, .company-strength .table-center, .company-strength .table-right {
  padding: 20px 20px 50px 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 80px 0px rgba(0,0,0,.1);
  border: transparent;
  max-width: 400px;
}

.table-left .icon, .table-center .icon, .table-right .icon {
  padding: 50px 50px 40px 50px;
}

.table-left .icon img, .table-center .icon img, .table-right .icon img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.table-left .strength-details .shortline, .table-center .strength-details .shortline, .table-right .strength-details .shortline {
  position:absolute;
  background:#cccccc;
  width:40px;
  height:2px;
  left:50%;
  margin-left:-20px;
  top:175px;
}

.table-left .strength-details span, .table-center .strength-details span, .table-right .strength-details span {
  display: inline-block;
  /*font-family: Poppins;*/
  font-size: 28px;
  font-weight: 400;
  color: #808080;
  margin-bottom: 20px;
}

.table-left .strength-details h2, .table-center .strength-details h2, .table-right .strength-details h2 {
  font-size: 18px;
  font-weight: 600;
  color: #505050;
  margin-bottom: 30px;
  /*margin-left: 10%;*/
}

.table-left .strength-details p, .table-center .strength-details p, .table-right .strength-details p {
  /*font-family: Poppins;*/
  font-size: 14px;
  font-weight: 300;
  color: #505050;
  letter-spacing: 1px;
  line-height: 1.4;
}

.table-left .strength-details ul, .table-center .strength-details ul, .table-right .strength-details ul {
  margin-top: 30px;
  margin-bottom: 50px;
}

.table-left .strength-details li, .table-center .strength-details li, .table-right .strength-details li {
  /*font-family: Poppins;*/
  font-size: 14px;
  font-weight: 400;
  color: #505050;
  line-height: 1.4;
  margin-bottom: 10px;
}

.company-strength .table-left:hover, .company-strength .table-center:hover, .company-strength .table-right:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.company-strength .table-left, .company-strength .table-right {
  margin-top: 20px;
}

.company-strength .table-center {
  margin-top: 20px;
}


/* ------------------------------ */
/* ------- Footer Section ------- */
/* ------------------------------ */
.footer-fixed-sub p {
  font-family: 'Josefin Sans';
  font-size: 16px;
  font-weight: 400;
  color: #A1A1A1;
  line-height: 1.3;
  margin: 10px 0 10px 0;
}

.footer-fixed-sub .copyright {
  text-align:left;
  font-size:14px;
}

.footer-fixed-sub ul.social-network {
  list-style:none;
  margin: 10px 0 10px 0;
}

.footer-fixed-sub ul.social-network li {
  display:inline;
  margin: 0 5px;
}

.footer-fixed-sub ul.social-network li i {
  font-size: 1.2em;
  color: #006699;
}


.footer-fixed-sub ul.social-network {
  float:right;
}


